:root{
  --white: #fffbfb;
  --grey: #f0eef1;
  --black: #050505;
  --padding_side: 40px;
  --card_width:250px;
  --boarder_radius: 7px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


html, body, h1{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  height: 100vh;
}

button{
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

/* HEADER */

header{
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 20px var(--padding_side);
}

/* CONTENTS */

.contents{
  flex-grow: 1;
  gap:20px;
  display: flex;
  flex-direction: column;
  padding: 20px var(--padding_side);
}

.controls{
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.controls button{
  font-size: 13px;
  width:130px;
  height: 50px;
  border-radius: var(--boarder_radius);
  background-color: var(--white);
  transition: filter 0.15s ease-in-out;
  box-shadow: var(--shadow);
}

.controls button:hover{
  filter: brightness(90%);
}

.books{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
}

.book-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 15px;
  border: none;
  padding: 20px;
  gap:25px;
}

.book-card p{
  padding: 0;
  margin: 0;
}

.book-bottons{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.book-bottons button{
  width: var(--card_width);
  height: 40px;
  border-radius: var(--boarder_radius);
  background-color: var(--grey);
  border: none;
  transition: filter 0.15s ease-in-out;
}

.remove:hover{
  filter: brightness(90%);
}

/* FOOTER */

footer{
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

footer a{
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
}
